@font-face {
    font-family: 'tan-moonlight';
    src: url('../fonts/tan-moonlight/tan_moonlight_display-webfont.woff2') format('woff2'),
         url('../fonts/tan-moonlight/tan_moonlight_display-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rushford';
    src: url('../fonts/rushfordclean/rushfordclean-rgz89-webfont.woff2') format('woff2'),
         url('../fonts/rushfordclean/rushfordclean-rgz89-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    font-size: 40px;
    text-shadow: grey 3px 5px;
    background: linear-gradient(to bottom right, #FFF7AD,#FFA9F9);
    font-family: 'tan-moonlight', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
  
.my-window {
    width: 100%;
    height: 100vh;
}

h1{
    margin: 0;
    margin-top: 30px;
    text-align: center;
    height: 15vh;
    line-height: 15vh;
    font-size: 10vh;
}

#tables{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

table {
    margin: 3%;
    width: 25%;
    max-width: 600px;
    aspect-ratio: 1;
    table-layout: fixed;
}

td {
    border: 1px solid black;
    border-radius: 20px;
    width: 70px;
    height: 70px;
    text-align: center;
    aspect-ratio: 1;
}

.active{
    background: black;
}

.inactive{
    background-color: white;
}

#footer{
    text-align: center;
}

button{
    text-shadow: grey 3px 5px;
    border: 1px solid black;
    color: black;
    font-family: 'tan-moonlight', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: white;
}

#submitButton{
    border-radius: 30% 70% 70% 30% / 30% 58% 42% 70%;
    width: 165px;
    height: 80px;
    font-size: 70px;
    margin-top: 10px;
}

#submitButton:active{
    text-shadow: #FFF7AD 3px 5px;
    background-color: #FFA9F9;
}

#submitButton:hover{
    font-size: 80px;
    transition: transform .1s;
}

.incline{
    transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -webkit-transform: rotate(8deg);
    -khtml-transform: rotate(8deg);
}

dialog{
    text-align: center;
    text-shadow: none;
    font-family: 'rushford';
}

.modalButton{
    font-size: 40px;
    border-radius: 30% 70% 70% 30% / 30% 58% 42% 70%;
    text-shadow: none;
    background: linear-gradient(to bottom right, #FFF7AD,#FFA9F9);
    font-family: 'rushford';
}

@media screen and (max-width: 1013px) {
    #tables{
        flex-direction: column;
    }

    html,body{
        overflow: auto;
    }
}

@media screen and (max-width: 402px) {
    td{
        width: 50px;
        height: 50px;
    }

    h1{
        color: red;
    }
}